[Unit]
Description=EGF Initialization Service
After=weston
Requires=weston

[Service]
ExecStart=/usr/sbin/egf_init

[Install]
WantedBy=graphical.target

